%h1= 'About Us'
%p= 'Flend.co is all about requesting to borrow an item from someone. It will allow you to request an item and will notify people who may be able to lend it to you.'
%p= 'Built using Ruby on Rails for a front end, hosted on Heroku, and Node.js for the back-end, hosted on Microsoft Azure. Database utilizes MongoDB hosted by MongoLabs.'
%p= 'Utilizes Rails ActiveResource to communicate directly with a cross platform RESTful API.'
%p= 'If we get time there may even be an iOS app!'
%p= 'If you want to try playing around try logging in with the username alice or the username bob (any password).'