%h1= 'About Us'
%p= 'You can lend and you can borrow stuff! Keep an eye on this. By @catdevnull and @code1up.'
%p= 'Built using Ruby on Rails for a front end (hosted on Heroku) and Node.js for the back-end (hosted on Microsoft Azure).'
%p= 'Utilizes Rails ActiveResource to communicate directly with a cross platform RESTful API.'
%p= 'If we get time there may even be an iOS app!'
%p= 'If you want to try playing around try logging in with the username alice or the username bob (any password).'