%h1= 'Contact'
%p
	%br= 'If you want to know more:'
	Follow
	= link_to '@catdevnull', 'http://twitter.com/catdevnull'
	and
	= link_to '@code1up', 'http://twitter.com/code1up'
	on Twitter.
%p= 'Created for the Hack Manchester 24 hour coding challenge.'