%h1= 'Create New Item Request'

%p= "Please use this form to submit a new item request. This will be pushed to all local users to see if they can lend you what you need."

%p= "You may wish to provide a descriptive Title as this will be included in the message sent to local users."

=render :partial => "shared/flash_messages", :locals => {:flash => flash}

.container
	.row
		.offset3.span4
			= form_tag({ :action => "create", :controller => "items"}, {class: "form-horizontal"}) do
				.control-group
					= label :item, :title, "Title*:", {class: "control-label"}
					.controls
						= text_field :item, "title", value: @title

				.control-group
					= label :item, :description, "Description*:", {class: "control-label"}
					.controls
						= text_area :item, "description", rows: 5, value: @description

				.control-group
					= label :item, :category, "Category:", {class: "control-label"}
					.controls
						= select :item, "category", @categories.map { |u| [u.description,u.id] }, value: @category

				.control-group
					= label :item, :tags, "Tags (Comma separated):", {class: "control-label"}
					.controls
						= text_field :item, "tags", value: @tags, placeholder: "e.g. ladder, long, green"

				.control-group
					= label :item, :postcode, "Request Location+*:", {class: "control-label"}
					.controls
						= text_field :item, "postcode", value: @postcode, placeholder: "Post Code: e.g. OL11 1RY"

				.control-group
					.controls
						= submit_tag 'Add New Item', {class: "btn"}

+ Please enter the Location where the item is required.
* Indicates required field