%h1= 'Item Details'

=render :partial => "shared/flash_messages", :locals => {:flash => flash}

%dl.dl-horizontal
	%dt= 'Title:'
	%dd= @item.title
	%dt= 'Description:'
	%dd= @item.description
	%dt= 'Category:'
	%dd= @category
	%dt= 'Tags:'
	%dd= @item.tags.join(", ")

= link_to '< Back to Items List', items_path