%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%nav
				#logo= 'Flend.co'
				- if @welcome_message
					#welcome_message
						= @welcome_message
				%ul.nav.pull-right
					%li
						= link_to 'Home', root_path
					%li
						= link_to 'Items', items_path
					%li
						- if @sign_in
							= link_to 'Sign In', sign_in_path
						- else
							= link_to 'Sign Out', sign_out_path