%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%nav
				#logo= 'Flend.co'
				- if @welcome_message
					#welcome_message
						= @welcome_message
				%ul.nav.pull-right
					%li
						= link_to 'Home', root_path
					- if @signed_in
						%li
							= link_to 'Request an Item', new_item_path
					%li
						= link_to 'Item Requests', items_path
					- if @signed_in
						%li
							= link_to 'Dashboard', dashboard_path
						%li
							= link_to 'My Account', my_account_path
					%li
						- unless @signed_in
							= link_to 'Sign In', sign_in_path
						- else
							= link_to 'Sign Out', sign_out_path